{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login{% endblock %}

{% block breadcrumb %}
      <span class="breadcrumb-item active">Login</span>
{% endblock %}

{% block content %}

    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3"> </div>
                <div class="col-md-6">
                    <div class="card text-white p-5 bg-primary">
                        <div class="card-body">
                            <h1 class="mb-4">Login</h1>
                            {{ wtf.quick_form(login_user_form) }}
                            <p class="mt-2">
                                <a href="/register" class="text-white">No account? Register!</a> <br />
                                <a href="/reset" class="text-white">Forgot your password? Reset!</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
