{% extends "base.html" %}
{% block title %}This is an example page{% endblock %}

{% block content %}
    <div class="py-5 text-center bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="pb-3 text-secondary">Sometimes is just matter to write things clear.&nbsp;</h1>
                </div>
            </div>
            <div class="row">
                <div class="text-right col-md-6">
                    <div class="row my-5">
                        <div class="col-2 order-lg-2 col-2 text-center"><i class="d-block fa fa-columns fa-3x"></i></div>
                        <div class="col-10 text-lg-right text-left order-lg-1">
                            <h4 class="text-primary">Responsive design</h4>
                            <p>Based on fluid design principles.
                                <br>Works with screen resolution</p>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col-2 order-lg-2 col-2 text-center"><i class="d-block fa fa-circle-thin fa-4x"></i></div>
                        <div class="col-10 text-lg-right text-left order-lg-1">
                            <h4 class="text-primary">Customized settings</h4>
                            <p>Choose settings depending on the criteria you value the most</p>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col-2 order-lg-2 col-2 text-center"><i class="d-block fa  fa-comment-o fa-3x"></i></div>
                        <div class="col-10 text-lg-right text-left order-lg-1">
                            <h4 class="text-primary">Connect</h4>
                            <p>In-app chat panel 24/7 active.
                                <br>The support you need, right there.</p>
                        </div>
                    </div>
                </div>
                <div class="text-left col-md-6">
                    <div class="row my-5">
                        <div class="col-2 text-center"><i class="d-block fa fa-battery-empty fa-3x"></i></div>
                        <div class="col-10">
                            <h4 class="text-primary">Battery-friendly</h4>
                            <p>Non consuming background operation
                                <br>Pingendo enhance the battery duration.</p>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col-2 text-center"><i class="d-block mx-auto fa  fa-clone fa-3x"></i></div>
                        <div class="col-10">
                            <h4 class="text-primary">Multilayers</h4>
                            <p>Work simultaneously on different panels.
                                <br>Share the work with teammates.</p>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col-2 text-center"><i class="d-block fa  fa-heart-o fa-3x"></i></div>
                        <div class="col-10">
                            <h4 class="text-primary">Share the love</h4>
                            <p>Help us spreading the word.
                                <br>Tell your friends with just one-click</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 text-center text-white opaque-overlay gradient-overlay" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/gallery_architecture_3.jpg&quot;);">
        <div class="container">
            <div class="row">
                <div class="p-4 col-md-3"> <i class="d-block fa fa-3x fa-pie-chart"></i>
                    <h2 class="my-3">Improve</h2>
                    <p>Based on fluid design principles. Works with any screen resolution</p>
                </div>
                <div class="col-md-3 p-4"> <i class="d-block fa fa-3x fa-th"></i>
                    <h2 class="my-3">Scale</h2>
                    <p>Work simultaneously on different panels. Share the work with teammates.</p>
                </div>
                <div class="col-md-3 p-4"> <i class="d-block fa fa-3x fa-globe"></i>
                    <h2 class="my-3">Spread</h2>
                    <p>Help us spreading the word. Tell your friends with just one-click</p>
                </div>
                <div class="col-md-3 p-4"> <i class="d-block fa fa-3x fa-money"></i>
                    <h2 class="my-3">Make money</h2>
                    <p>Choose settings depending on the criteria you value the most</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
